
.gallery{
    text-align: center;
    padding: 40px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.gallery-grid img{
    width: 100%;
    display: block;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}